.project_type figure {
  text-align: center;
  margin: 0;
}
.project_type figure figcaption,.project_type .first {
  text-align: justify;
}
.project_type .last {
  text-align: right;
}
.project_type .last figcaption {
  text-align: justify;
}
footer div {
  text-align: center;
}