// Definitions
$black:           #1a1a1a;
$blue:            #727e9c;
$green:           #dcf29c;
$grey:            #888;
$orange:          #ffd8a4;
$purple:          #9173ac;
$red:             #be7aac;
$yellow:          #fffba4;
$white:           #fff;

$link-color:      $blue;
$link-hover-color:darken($link-color, 10%);
$font-color:      darken($grey, 30%);
$divider-color:   $grey;
$shadow-color:    rgba(0,0,0,0.4);
$primary-color:   #000;
$success-color:   $green;
$warning-color:   $orange;
$danger-color:    $red;
$info-color:      $yellow;
$status-color:    $red;

$gutter:          16px;

$base-font:       'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}