// Libraries
@import "_style";

body {
  background: $white;
  color: $font-color;
  font: 16px $base-font;
  padding: 0;
}

a {
  color:$blue
}

header {
  margin-bottom:$gutter;
  @include box-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.1))
}

.card p {
  margin-bottom: 0;
  margin-top: 1rem;
}

.navbar-default,
.card-header {
  background-color: lighten($green, 20%);
}

.btn-primary:hover {
  background-color: darken($blue, 10%);
  border-color: darken($blue, 10%);
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
}

.btn-secondary {
  background-color: $grey;
  border-color: $grey;
}

.status {
  color: $status-color;
  font-size: 70%;
  text-transform: uppercase;
}

#skills td {
  cursor: pointer;
}

#skills .on {
  background-color: lighten($grey, 30%);
}

.btn-default {
  border: 2px solid lighten($grey, 30%);
  margin-left: 10px;
}

.card img {
  width: 100%;
}

#skills td,
#other td {
  font-style: italic;
  a {
    font-style: normal;
    font-weight: bold;
  }
  b {
    font-style: normal;
  }
}