#demo_graphic{position:relative}
#searchForm{background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#999));border:0 none;border-radius:2px;box-shadow:0 0 35px #333;left:245px;position:absolute;top:25px;width:245px;z-index:10}
.pulse{position:absolute}
#pulse_searchForm{z-index:9}
#process_arrow{z-index:8}
#db_graphic{left:550px;position:absolute;top:250px;z-index:6}
#process_arrow-2{z-index:4}
#samples{height:350px;left:25px;position:absolute;top:340px;width:350px;z-index:2}
.arrow{position:absolute}
#samples .nav{margin-bottom:0}
#samples .tab-content{background:#fff;color:#333;height:300px;overflow-y:auto}
.firstpath{fill:#81c341;stroke:#000;stroke-width:1}
.secondpath{fill:#81c341;stroke:#000;stroke-width:1}
.step_animation{background:#fff}
/* The magic */
#process_arrow{
-webkit-transition: -webkit-transform 600000s linear;
-moz-transition: -moz-transform 600000s linear;
-o-transition: -o-transform 600000s linear;
-ms-transition: -ms-transform 600000s linear;
transition: transform 600000s linear;
}

#process_arrow{
-webkit-transform: rotate(3600000deg);
-moz-transform: rotate(3600000deg);
-o-transform: rotate(3600000deg);
-ms-transform: rotate(3600000deg);
-transform: rotate(3600000deg);
}