/******************** global styles ********************/

/********** header **********/
DIV#header
{
	background:         transparent url('/testscripts/flowerjoiner/images/title_m.png') scroll no-repeat 0 0;
	
	margin:             1em auto;
	width:              320px;
	height:				65px;
}

/********** content **********/
DIV#content
{	
	margin:             10px auto 0;
	width:              320px;
}

/********** footer **********/
DIV#footer
{
	width:				320px;
	height:				auto;
}
/******************** portfolio styles ********************/

/********** footer **********/
DIV#footer IMG.email,
DIV#footer IMG.copy,
DIV#footer IMG.phone
{
	float:			none;
	display:		block;
}

/***** examples *****/
	DIV.designExample
	{
		width:				320px;
	}
	
