body {
  background: #fff;
  color: #3c3c3c;
  font: 16px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
}

a {
  color: #727e9c;
}

header {
  margin-bottom: 16px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.card p {
  margin-bottom: 0;
  margin-top: 1rem;
}

.navbar-default,
.card-header {
  background-color: #fcfef6;
}

.btn-primary:hover {
  background-color: #5a6581;
  border-color: #5a6581;
}

.btn-primary {
  background-color: #727e9c;
  border-color: #727e9c;
}

.btn-secondary {
  background-color: #888;
  border-color: #888;
}

.status {
  color: #be7aac;
  font-size: 70%;
  text-transform: uppercase;
}
