body{
  padding-top: 61px;
}
.professional .image {
  display: block;
  height: 200px;
  overflow: hidden;
}
figcaption {
  margin-bottom: 30px;
  margin-top: 15px;
}
p#intro {
  margin-bottom: 15px;
}
.first {
  padding-left:0;
}
.last {
  padding-right:0;
}