body{background-color:#fff;color:#333;font-family:'Quicksand', Arial, sans-serif;font-size:18px;font-weight:400;line-height:20px;margin:0 0 45px}
a:hover,.navbar-nav li a:hover{color:#f90}
.btn{font-size:1em}
.padding10{padding:10px}

header{height:50px;margin:10px 0 20px}
h1,h2,h3,h4,h5,h6,img,input,textarea{color:#f60;font-weight:400;letter-spacing:1px;text-transform:lowercase}
label{font-weight:400;text-transform:lowercase}
h1,.h1{font-size:1.9em}
h2,.h2{font-size:1.7em}
h3,.h3{font-size:1.5em}
h4,.h4{font-size:1.3em}
h5,.h5{font-size:1.1em}
h6,.h6{font-size:1.9em}
h1{margin-top:0}
.btn-default{background:#f90;border:1px solid #f60;color:#fff;font-weight:400}
.btn-default:hover{background:#f80;border:1px solid #f90}
.text-dark{color:#333}
img,input,textarea{font-weight:300}
footer{background:#fde1ce;border-top:1px solid #333 !important;box-shadow:0 -1px 5px rgba(0,0,0,.5);padding:5px 10px 10px;text-align:center}
footer .hidden-xs,footer .visible-xs{display:inline !important;padding:20px 10px}

header .navbar-nav a:link,header .navbar-nav a:active,header .navbar-nav a:visited{color:#333}
header .navbar-nav a:hover{color:#f90}
#content{clear:both}
.carousel-caption{background-color:rgba(255,255,255,.6);bottom:0;color:#333;font-weight:300;left:0;overflow:visible;padding:20px 5px 50px;right:0}
.text-yellow{color:#ff0;text-shadow:1px 1px 1px rgba(0,0,0,.8)}
.text-orange{color:#f60;text-shadow:1px 1px 1px rgba(0,0,0,.8)}
.text-red{color:#f00;text-shadow:1px 1px 1px rgba(0,0,0,.8)}
.carousel-indicators li{border:1px solid #333}
.carousel{box-shadow:0 10px 5px -5px rgba(0, 0, 0, .4);-moz-box-shadow:0 10px 5px -5px rgba(0, 0, 0, .4);-webkit-box-shadow:0 10px 5px -5px rgba(0, 0, 0, .4)}

@media (max-width:480px){
}

@media (max-width:768px){
	header #logo img{margin-left:10px;width:290px}
	header .navbar-nav>li{float:left}
	.carousel-caption{bottom:-140px;color:#333}
	.carousel-inner{overflow:visible}
}

@media (max-width:1040px){
	header .navbar-nav{margin-right:-5px}
	#content{padding:0 10px}
}
