/*
internally defined styles
*/
/******************** global elements ********************/
body{background:#ddd url(/testscripts/flowerJoiner/images/bg_body.png) scroll repeat-x 0 0;color:#333;font:normal 10px Georgia, serif;}
a:link,a:active,a:visited{color:#2c5a85;text-decoration:underline;}

a:hover{color:#2c5a85;text-decoration:none;}
ol li{margin:0 0 0 20px;list-style:decimal;}
h2{color:#222;font-size:16px;font-weight:bold;margin:15px 0 7px;}
h2 span{color:#666;font-size:11px;font-weight:normal;}
h3{font-size:12px;font-weight:bold;margin:15px 0 7px;}
p{margin:2px 0 5px;}
hr{border:0;border-top:1px solid #2c5a85;}
strong{font-weight:bold;}

/******************** global styles ********************/
/********** header **********/
div#header{background:transparent url('/images/title.png') scroll no-repeat 0 0;margin:0 auto;width:900px;height:176px;}

/********** content **********/
div#content{background:transparent url('/images/bg_body_content.png') scroll repeat 0 0;margin:0 auto;width:900px;}
div#main_content{padding:35px;}
#intro,#photos h2,#photos>p,#designs h2,#designs>p,#designs h3{padding-left:5px;padding-right:5px;}
div#main_content p,div#main_content ul,div#main_content li{font-size:11px;}

/********** footer **********/
div#footer{background:transparent url('/images/bg_body_content.png') scroll repeat 0 0;border-bottom:1px solid #ddd;text-align:center;height:40px;margin:0 auto 150px;padding:5px 0;width:900px;}
.first{margin-top:0;padding-top:0;}
.clearB{clear:both;height:1px;overflow:hidden;}
a.img:hover,a.img:link,a.img:visited,a.img:active{background:0;text-decoration:none;border:0;}
.practices{margin-left:5px;}
.popUp{background:#fff;border:1px solid #000;color:#000;display:none;font-size:9px;height:300px;overflow:scroll;padding:10px;position:absolute;right:-295px;top:5px;width:300px;}

/******************** home styles ********************/
/********** footer **********/
div#footer img.email{float:left;padding:0 40px;}
div#footer img.copy{float:right;padding:0 40px;}

/********** designs **********/
#designs h3{clear:both;font-size:14px;}
div.project_type{overflow:auto;padding:0 0 10px;}

	/***** examples *****/
	div.design_example{float:left;height:200px;margin:5px;overflow:hidden;width:256px;}
	div.design_example img{height:134px;overflow:hidden;width:200px;}
	div.design_example img.dc{border:1px solid #000;width:100px;}

/********** browser_grades **********/
#browser_grades table{border:0;border-spacing:0;font-size:11px;margin:0;padding:0;width:100%;}
#browser_grades th{font-weight:bold;}
#browser_grades td{margin:0;padding:0;}

@media screen and (max-device-width: 480px) {
*{border:0;margin:0;padding:0;}
body{-webkit-text-size-adjust:none;}
div{clear:both !important;float: none !important;margin: 0 !important;padding: 0 !important;width: 320px !important;}
.design_example .first{text-align:center;}
div#content p,div#content h2{padding:0 10px;}
}