body {
  color:#727E9C;
  padding-top: 61px;
}
body{
  background-color:#fff;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:1.428571429;
}
.navbar-default {
  background-color: #F3F7ED;
  border-bottom: 0;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
a,
a:hover {
  color:#97BAD9;
}
.navbar-default .navbar-nav>li>a:hover,
a:hover {
  color:#C3DAEB;
  text-decoration:underline;
}
.btn-primary,
.btn-primary:visited {
  background: #A6748A;
  border: 1px solid #A6748A;
}
.btn-primary:hover {
  background: #cc3f10;
  border: 1px solid #cc3f10;
}
body * small {
  color: #97BAD9;
}
.navbar-brand {
  line-height: 40px;
  padding: 5px;
}
.professional .image {
  display: block;
  height: 200px;
  overflow: hidden;
}
figcaption {
  margin-bottom: 30px;
  margin-top: 15px;
}
p#intro {
  margin-bottom: 15px;
}
.first {
  padding-left:0;
}
.last {
  padding-right:0;
}
#sidebar {
  margin-bottom: 30px;
}
footer .col-md-12 {
  margin-left:-15px;
  margin-right:-15px;
}
.nav>li{
  text-align:right;
}
.navbar-header {
  float: right;
}

.navbar-header .navbar-nav{
  float:right;
}

@media (max-width: 768px) {
  header{
    padding: 15px;
  }
  .navbar-header {
    clear: both;
    float: none;
  }
  .col-sm-4,
  .col-md-6 {
    padding: 0;
  }
  #content {
    margin-top: 176px;
    padding: 15px;
  }
}